{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{%  bootstrap_css %}
{%  bootstrap_javascript %}

{% block content %}

<style>
    canvas.drawing, canvas.drawingBuffer {
        position: absolute;
        left: 0;
        top: 0;
    }
</style>

<div class="container col-md-8 ">
        <div class="card mt-5">
            <div class="card-header">
                <h2>ISBN으로 검색</h2>
            </div>
            <div class="card-body">
            
            <form action="{% url 'barcode:detect' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h3>검색할 도서관 지역</h3>
                        <div class="flex=container flex-start" style="display:flex; justify-content:left;" >
                            <div>
                                <select name="big_region" id="selectbox-big_region"></select>
                            </div>
                            <div>
                                <select name="small_region_code" id="selectbox-small_region_code"></select>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h3>ISBN 백엔드에서 추출(*)</h3>
                       <div>
                            <input id="inputbox-photo" type ="file" name="barcode_photo" accept="image/*">
                        </div>
                    </li>

                    {% comment %} <li class="list-group-item">
                        <h3>바코드 리더</h3>
                        <div id="reader" width="600px" height="600px">
                            <input type="file" id="qr-input-file" accept="image/*" capture>
                        </div>
                    </li> {% endcomment %}


                    <li class="list-group-item">
                        <h3>ISBN 입력</h3>
                        <div>
                            <input pattern="[0-9]*" id="inputbox-ISBN" class="form-control" type ="number" name="isbn13"  accept="text/*" href="*">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <button type="submit"> 검색! </button>
                    </li>
                </ul>
                
            </form>
        </div>
</div>



<script type="text/javascript" src="{% static "barcode/js/RegionJsonManger.js" %}"></script>
<script>
    
    const RegionJsonApiUrl = '{% url 'barcode:region_code' %}'
    const LoginApiUrl = '{% url 'accounts:login' %}';
    const UserInfoApiUrl = '{% url 'accounts:info' %}';
    const UserProfileEditUrl = '{% url 'accounts:profile_edit' %}';
    const UserSignUpUrl = '{% url 'accounts:signup' %}';
    //도서관 분류 JSON 호출 및 Option 생성
    callRegionJsonAndAppendToOptions(RegionJsonApiUrl);
    
    //Login여부 확인 및 Login했을경우 기본도서관 설정
    checkAndGetUserLibData();
    
    async function checkAndGetUserLibData(){
        try{
            const logined = await isLogined(LoginApiUrl);
            if (logined){
                const user_data = await getUserInfo(UserInfoApiUrl);
                if (user_data.my_region != null){
                    document.getElementById("selectbox-big_region").value = user_data.my_region.substring(0,2);
                    document.getElementById("selectbox-small_region_code").value = user_data.my_region;
                    showToast(message=`안녕하세요, ${user_data.username}님, \n 프로필에 설정한 지역으로 설정되었습니다.🎉`,
                            url=UserProfileEditUrl);
                }else{
                    showToast(message=`${user_data.username}님, \n 프로필에 내 도서관을 설정할 수 있다는 것, \n 알고계셨나요?😉`,
                                url=UserProfileEditUrl);
                }
            }
        } catch (err) {
            showToast(message='도서관 지역 설정이 불편하지 않으세요? \n 회원가입시 기본 지역을 설정할 수 있습니다! (클릭)📝',
                        url = LoginApiUrl);
            console.error(err);
        }
    }

</script>



{% comment %} <script src="{% static 'barcode/js/quagga.min.js' %}"></script>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>

    const html5QrCode = new Html5Qrcode(/* element id */ "reader", { formatsToSupport: [ Html5QrcodeSupportedFormats.EAN_13]});
    
    // File based scanning
    const fileinput = document.getElementById('qr-input-file');
    fileinput.addEventListener('change', e => {
        if (e.target.files.length == 0) {
            // No file selected, ignore 
            return;
        }

        const imageFile = e.target.files[0];
        // Scan QR Code
        html5QrCode.scanFileV2(imageFile, true)
        .then(decodedText => {
            document.getElementById('inputbox-ISBN').innerHTML = decodedText;
        })
        .catch(err => {
            // failure, handle it.
            console.log(`Error scanning file. Reason: ${err}`)
        });
    });



    function onScanSuccess(decodedText, decodedResult) {
        
        // handle the scanned code as you like, for example:
        console.log(`Code matched = ${decodedText}`, decodedResult);
        document.getElementById('inputbox-ISBN').innerHTML = decodedResult;
    }
      
    function onScanFailure(error) {
        // handle scan failure, usually better to ignore and keep scanning.
        // for example:
        document.getElementById('inputbox-ISBN').innerText = "찾는중입니다";
    }

    let config = { 
        fps : 10, 
        qrbox : { width: 400, height: 150 },
        formatsToSupport: [ Html5QrcodeSupportedFormats.EAN_13 ],
        videoConstraints: {
            width: 1920,
            height: 1080,
            facingMode: "environment",
        },
    }
    let html5QrcodeScanner = new Html5QrcodeScanner(
    "reader",
    config,
    /* verbose= */ false);
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);

</script>
 {% endcomment %}

{% endblock content %}