{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">


        <div class="card col-md-6 mt-5">
            <div class="card-header">
                <h2>ISBN으로 검색</h2>
            </div>
            <div class="card-body">
            <form action="{% url 'barcode:upload' %}" method="POST"  enctype="multipart/form-data">{% csrf_token %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div>
                        <select name="big_region" id="selectbox-big_region"></select>
                        </div>
                        <div>
                            <select name="region_code" id="selectbox-small_region_code">

                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        바코드 리더기 - by [https://scanapp.org/html5-qrcode-docs/docs/intro]
                        <div id="reader">
                            <input type="file" id="qr-input-file" accept="image/*" capture>
                        </div>
                    </li>
                    <li class="list-group-item">
                        직접 사진찍어 ISBN 백엔드에서 추출
                       <div>
                            <input id="inputbox-photo" type ="file" name="barcode_photo" id="btn_ReadQRCode" accept="image/*" href="*">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input id="inputbox-ISBN" type ="text" name="ISBN_string" accept="text/*" href="*">ISBN
                        </div>
                    </li>
                </ul>
                <button type="submit"> 검색! </button>
            </form>
        </div>

    </div>
</div>
<script src="{% static 'js/html5-qrcode.min.js' %}"></script>

<script>
    const html5QrCode = new Html5Qrcode("reader");
    const qrCodeSuccessCallback = (decodedText, decodedResult) => {
        console.log(`Code matched = ${decodedText}`, decodedResult);
        document.getElementById('inputbox-ISBN').setValue(decodedText);
    };
    const config = { fps: 10, qrbox: { width: 250, height: 250 } };

    // If you want to prefer back camera
    html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback, );

</script>
</script>
 <script>
        let apiUrl = '{% url 'barcode:region_code' %}';
        var regionJson;

        const bigRegionSelect = document.getElementById("selectbox-big_region");
        const smallRegionSelect = document.getElementById("selectbox-small_region_code");
        fetch(apiUrl)
        .then(response => {
            // HTTP 상태 코드 확인
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(jsonData=> {
            regionJson = jsonData;
            //지역코드 - 대분류 추가


            // Populate the "big" region select box
            for (const [bigcode, bigValue] of Object.entries(jsonData.big)) {
                const bigOption = document.createElement("option");
                bigOption.text = bigValue;
                bigOption.value = bigcode;
                bigRegionSelect.appendChild(bigOption);
            }
            bigRegionSelect.addEventListener("change", populateSmallRegion);
            populateSmallRegion();

        })
        .catch(error => {
            // 오류 처리 코드
            console.error('Fetch error:', error);
        });

        function populateSmallRegion() {
            // Clear the current options in the "small" region select box
            smallRegionSelect.innerHTML = "";


            const selectedBigRegion = bigRegionSelect.value;

            if (selectedBigRegion in regionJson.small) {
                const smallRegionData = regionJson.small[selectedBigRegion];
                // Populate the "small" region select box based on the selected "big" region
                for (const [smallcode, smallValue] of Object.entries(smallRegionData)) {
                    const smallOption = document.createElement("option");
                    smallOption.text = smallValue;
                    smallOption.value = smallcode;
                    smallRegionSelect.appendChild(smallOption);
                }
            }
        }






</script>


<script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

{% endblock content %}