.app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas:
        "title title sidebar"
        "body body sidebar"
        "body body sidebar"
        "footer footer footer";
    
    width: 1024px;
    max-width: 100%;
    margin: 10px 10px;



    .title {
        grid-area: title;
        display: flex;
        align-items: flex-end;
    }


    .contents {
        grid-area: body;
        padding: 10px;
        margin-left: 10px;
        justify-content: center;
    }

    .sidebar {
        display: flex;
        align-items: flex-start;
        grid-area: sidebar;
        margin: 0 auto;
    }


    .footer {
        grid-area: footer;
        justify-self: left;

    }
}