{% load django_bootstrap5 %}
{%  bootstrap_css %}
{%  bootstrap_javascript %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>

    <title>IIOL, 이올</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/toastify-min.1.12.0.css" %}">
    
    <style type="text/css">
        .navbar-brand
        {
            font-size: xx-large;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid container-md">
            <a class="navbar-brand" href="{% url 'barcode:barcode_root' %}"> IIOL </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'barcode:barcode_root' %}"> 바코드로 찾아보기</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link active" href="{% url 'mybookwishlist:mylist' %}"> WishBookList</a>
                </div>
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <button class="btn btn-sm"><a class="nav-link active" href="{% url 'accounts:logout' %}">로그아웃</a></button>
                    {% else %}
                        <button class="btn btn-sm"><a class="nav-link active" href="{% url 'accounts:login' %}">로그인</a></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="toast-container position-absolute top-0 end-0 p-3">
            {% if messages %}
                {% for message in messages %}
                    {% include "toast.html" with toast_header=message.tags toast_msg=message %}
                {% endfor %}
            {% endif %}
        </div>  

        {% block content %}




        {% endblock content %}
    </div>
</body>
<script type="text/javascript" src="{% static "js/toastify-js.1.12.0.js" %}"></script>
<script type="text/javascript" src="{% static "js/ToastManager.js" %}"></script>
<script type="text/javascript" src="{% static "js/getCookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/AuthManager.js" %}"></script>

</html>

