{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <div class="card mt-5">
{% if status.code != "E" %}
{% for mybookwish in result_data %}
        <div class="card">
            <div class="card-header">
                {{ mybookwish.book.bookname }} ( {{mybookwish.isbn13}} )
            </div>
            <div class="card-body" style="display :flex; ">
                    <div class="container" style="display :flex;">
                        <div class="item"><img src="{{ mybookwish.book.bookImageURL }}" height="200"></div>
                        <div class="item" style="flex: 1 0 auto;">
                            <div class="input-group">
                              <span class="input-group-text" id="addon-wrapping">WHEN</span>
                                <input value="""{{ mybookwish.input_context }}" type="text" class="form-control" placeholder="" aria-label="when_it_put" aria-describedby="addon-wrapping">
                            </div>
                            <div class="input-group input-group-lg">
                                <span class="input-group-text">MEMO</span>
                                <textarea class="form-control" aria-label="MEMO">{{ mybookwish.memo}}</textarea>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">읽었어요!</span>
                                <div class="input-group-text">
                                     <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                </div>
                                <textarea class="form-control" aria-label="After-Read">소감은?</textarea>
                                 <button class="btn btn-outline-secondary" type="button">저장하기</button>
                                 <button class="btn btn-outline-secondary" type="button">삭제하기</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    {{ status.msg }}
{% endif %}

    </div>
</div>

{% endblock content %}